/*@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);*/

@font-face {
    font-family: "Roboto Light";
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Light'), local('Roboto-Light'), url("../fonts/Roboto-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

*, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto-Regular';
}

body {
    /*font-family:"arial";*/
    /*font-size:12px;*/
    font-size: 12px;
    font-family: 'Roboto-Regular';
}

section.content-header h1 {
    text-transform: uppercase;
}

.sidebar-menu .treeview-menu > li > a {
    font-size: 14px;
}

.sidebar-menu > li > a {
    font-size: 14px;
}

.btn-second-vertical {
    margin: 8px 0px
}

.btn-second-horizontal {
    margin: 0px 8px;
}

.main-header .sidebar-toggle {
    font-size: 20px;
    padding: 11px 15px;
}

.info-box-content .info-box-text {
    font-weight: bold;
}

.treeview-menu > li.active > a > i, .treeview-menu > li > a:hover > i {
    color: #C40000;
}

.treeview.active > a > i, .treeview.active > a:hover > i {
    color: #3c8dbc;
}

/* form group*/
.form-group {
    clear: both;
    display: table;
    width: 100%;
}

#login-form .form-group > label.control-label {
    width: auto;
}

.form-group.required > label.control-label:after {
    content: " *";
    color: #ff0000;
}

/* form search*/
.form-search ul {
    list-style: none;
    background: transparent;
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 12px;
    padding: 10px 0px;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.form-search ul > li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 30px;

}

.form-search ul > li .form-group {
    margin-bottom: 0px;
    display: inline-block;

}

.form-search ul > li .help-block {
    height: 1px;
    display: none;

}

.form-search ul > li input, .form-search ul > li select {
    line-height: 25px;
    height: 30px;
    text-indent: 5px;
    font-size: 12px;
}

.form-search ul > li .form-label {
    font-size: 15px;
}

.form-search .form-item input, .form-search .form-item select {
    border: 1px #d2d6de solid;
}

/*customer checkbox on-off: */

/* FORM BASIC */
.form-basic .form-group > .control-label,
.form-basic .form-group > .form-control {
    width: 100%;
}

.form-basic .form-group {
    display: inline-block;
    margin-bottom: 0;
}

.list-horizontal label {
    display: inline-block;
    width: 100%;
}

.list-horizontal label > input {
    float: left;
    margin-right: 5px;
}

.grid-view .text-summary {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
    overflow: hidden;
}

/* css Ghi chú*/
#submit-note .form-group > .form-control {
    width: 100%;
}

#submit-note .form-group {
    margin-bottom: 0;
}

/* style error*/
.text-error h2 {
    font-weight: 700;
    font-size: 32px;
    color: #c40000;
    margin-bottom: 20px;
}

.text-error .message {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.text-error p {
    color: #666;
    margin: 5px;
}

.text-error p > a {
    text-decoration: underline;
}

.text-error p > i {
    margin-right: 5px;
    color: #c40000;
}

.text-error p > b {
    font-weight: bold;
    color: #c40000;
}

.form-search .form-item input.hasDatepicker {
    border: 0px;
    top: 12px;
}

.form-group.form-group-date .group-datepicker::before {
    border-radius: 0;
    bottom: 0px;
    height: 30px;
    bottom: -12px;
}

.group-datepicker .group-field::after {
    bottom: 0px;
    bottom: -12px;
}

/* Style Default Admin*/
.info-box-text a {
    color: #333;
}

.info-box-text a:hover {
    text-decoration: underline;
}

.info-box-icon a {
    color: #fff;
}

.info-box-icon a:hover {
    color: #eee;
}

.default-admin .info-box {
    margin-bottom: 30px;
}

/* Style Note Admin*/
.add-note {
    position: relative;
    margin-top: 15px;
    width: 25px;
}

.add-note span {
    position: absolute;
    top: -15px !important;
    right: -0px !important;
}

.btn-action {
    margin-bottom: 8px;
}

/* datetime picker search*/
.group-datepicker {
    display: inline-block;
    width: 100%;
    position: relative;
}

.group-datepicker::before {
    content: '';
    border: 1px solid #ccc;
    border-radius: 3px;
    position: absolute;
    height: 34px;
    left: 0;
    right: 0;
    bottom: 6px;
    z-index: 10;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background: #fff;
}

.group-datepicker input {
    border: none;
    height: 29px;
    padding: 6px 5px;
    position: relative;
    z-index: 100;
    outline: none !important;
    display: inline-block;
    width: 96%;
    margin: 1px;
    border-radius: 0;
    background: none;
}

.group-datepicker input::before {
    content: '-';
    position: absolute;
    right: 0;
}

.group-datepicker .group-field {
    position: relative;
}

.group-datepicker .group-field::after {
    content: '--';
    position: absolute;
    height: 31px;
    line-height: 31px;
    bottom: -10px;
    right: 0;
    z-index: 120;
}

.group-datepicker .group-field:last-child::after {
    display: none;
}

.group-datepicker-focus::before {
    border-color: #ccc;
    border-color: rgba(82, 168, 236, .8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 0 8px rgba(82, 168, 236, .6);
}

.order-search.form-search .form-item input.hasDatepicker {
    border: 0px;
}

.order-search.form-search .group-datepicker::before {
    border-radius: 0px;
    height: 30px;
    bottom: 10px;
}

/* form search*/
.form-search ul {
    list-style: none;
    background: transparent;
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 12px;
    padding: 10px 0px;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.form-search ul > li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 30px;

}

.form-search ul > li .form-group {
    margin-bottom: 0px;
    display: inline-block;

}

.form-search ul > li .help-block {
    height: 1px;
    display: none;

}

.form-search ul > li input, .form-search ul > li select {
    line-height: 25px;
    height: 30px;
    text-indent: 5px;
    font-size: 12px;
}

.form-search ul > li .form-label {
    font-size: 15px;
}

.form-search .form-item input, .form-search .form-item select {
    border: 1px #d2d6de solid;
}

.select2-container .select2-selection--single {
    height: 34px;
}

/*  ------ Login -----*/

.container-login {
    background: url(../images/bg-login.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 900px;
    padding-top: 100px;
}

.title-login {
    color: #e1474d;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form-border {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 500px;
    padding-top: 30px;
}

#login-form .form-group div {
    text-align: center;
}

#login-form .form-group .form-control {
    width: 80%;
    display: inline-block;
}

/*fix giao diện */
.main-header .logo {
    background-color: #1a2226 !important;
    height: 80px;
}

.main-header .logo .logo-lg {
    margin-top: 15px;
}

.main-sidebar, .left-side {
    padding-top: 80px;
}

.main-header .navbar .sidebar-toggle, .main-header .navbar .sidebar-toggle:hover, .main-header .navbar .sidebar-toggle:active, .main-header .navbar .sidebar-toggle:focus {
    background: #FFF !important;
    color: #e1474d !important;
    border-radius: 50%;
    padding: 10px 15px;
    margin: 18px 0px 0px 18px;
}

.main-header .navbar-custom-menu, .main-header .navbar-right {
    margin-right: 60px;
}

.box-media {
    width: 265px;
    overflow: hidden;
}

.box-media .media-right > span {
    margin-bottom: 5px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 209px;
    overflow: hidden;
}

.navbar-nav > .user-menu > .dropdown-menu {
    width: 296px;
}

.user-panel > .info > p {
    text-transform: uppercase;
    line-height: 35px;
    font-weight: 400;
}

.main-sidebar .user-panel {
    background: #ef870c;
}

/* Dashbroad */
.current-time {
    margin-bottom: 30px;
}

.info-box {
    min-height: 60px;
}

.info-box-icon {
    width: 70px;
    height: 60px;
    line-height: 50px;
}

.info-box-content {
    margin-left: 70px;
}

.info-box-content .info-box-text-header {
    height: 29px;
    line-height: 15px;
    overflow: hidden;
    margin-bottom: 4px;
}

.info-box-content .info-box-text-content {
    margin-bottom: 0px;
    font-weight: 600;
}

.info-box-content > p {
    text-align: center;
}

.row-link-refferal {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin: 40px 0px;
}

/* transction box*/
.transaction-item-box .box-left {
    float: left;
    width: 150px;
    min-height: 90px;
}

.transaction-item-box .box-left .transction-id {
    font-size: 18px;
    font-weight: 600;
}

.transaction-item-box .box-right {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 60px;
    min-height: 90px;
}

.transaction-item-box {
    position: relative;
    padding: 10px;
}

.transaction-icon {
    width: 45px;
    height: 40px;
    background: url('../images/transaction-icon.png') no-repeat;
    display: inline-block;
    margin: 0px 0px 8px 10px;
}

.transaction-icon.icon-pending {
    background-position: 0px 0px;
}

.transaction-icon.icon-success {
    background-position: 0px -41px;
}

.transaction-icon.icon-send-completed {
    background-position: 0px -83px;
}

.transaction-item-box .box-middle {
    padding-left: 160px;
    padding-right: 60px;
    font-size: 14px;
    min-height: 90px;
}

.transaction-item-box .box-middle .line {
    width: 100%;
    margin-bottom: 5px;
    float: left;
}

.transaction-item-box .box-middle .line:last-child {
    margin-bottom: 0px;
}

.transaction-item-box .transaction-title {
    margin-right: 25px;
    float: left;
    min-width: 180px;
}

.transaction-item-box .box-middle .transaction-create-time {
    float: left;
}

.transaction-item-box .box-middle .progress-group {
    float: left;
    width: 210px;
    position: relative;
}

.transaction-item-box .box-middle .progress-text {
    font-weight: normal;
    text-align: center;

}

.box-middle .progress-group .progress {
    margin: 2px 5px;
    height: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100px;

}

.box-middle .progress-group .progress-time {
    position: absolute;
    left: 110px;
    top: 14px;
}

.transaction-item-box .box-middle .transaction-user-step {
    padding-left: 140px;
}

.transaction-action {
    background: url('../images/transaction-icon-action.png') no-repeat;
    display: block;
    width: 40px;
    height: 15px;
    margin-top: 6px;
}

.transaction-action.action-print {
    background-position: 0px -22px;
    height: 30px;

}

.transaction-action.action-view {
    background-position: 0px -58px;
    height: 22px;
}

.transaction-sent .transaction-item-box {
    background: url('../images/transaction-item-bg.png') repeat-x top;
    background-color: #b11117 !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    max-height: 91px;
}

.transaction-sent .bg-green-2 {
    background: #008648 url('../images/green-2.png') repeat-x top;
    background-color: #008648 !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    max-height: 91px;
    color: #FFF;
}

.transaction-sent .bg-yellow {
    background: #ef870c url('../images/bg_yellow.jpg') repeat-x top;
    background-color: #ef870c !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    max-height: 91px;
    color: #FFF;
}

.transaction-receiver .transaction-item-box {
    padding: 15px;
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-right: 55px;
    background: url('../images/transaction-item-bg-green.png') repeat-x;
    max-height: 170px;
}

.transaction-receiver .transaction-item-box.bg-red {
    background: #b11117 url('../images/transaction-item-bg-red.png') repeat-x top;
}

.transaction-receiver .transaction-item-box.bg-yellow {
    background: #ef870c url('../images/transaction-item-bg-yellow.png') repeat-x top;
}

.transaction-receiver h4 {
    margin-top: 0px;

}

.transaction-receiver .transaction-id {
    margin-bottom: 12px;
}

.transaction-receiver p {
    margin-bottom: 3px;
}

.transaction-receiver .transaction-action {
    background: url('../images/transaction-icon-action-receiver.png') no-repeat;
    display: block;
    width: 40px;
    height: 30px;
}

.transaction-receiver .transaction-action.action-open {
    display: block;
    width: 40px;
    height: 40px;
    top: 10px;
    position: absolute;
}

.transaction-receiver .transaction-action.action-message {
    background: url('../images/transaction-icon-action.png') no-repeat;
    display: block;
    width: 40px;
    height: 15px;
    margin-top: 10px;
}

.transaction-receiver .transaction-item-box .box-right {
    min-height: 170px;
}

.transaction-receiver .transaction-action.action-view {
    display: block;
    width: 45px;
    height: 30px;
    bottom: 15px;
    position: absolute;
    background-position: 0px -40px;

}

.modal .modal-body {
    padding: 0px;
}

.page-view-transaction .page-title {
    padding: 10px;
    margin: 0px;
    font-size: 18px;
    background: #e1474d;
    color: #FFFFFF;
}

.page-view-transaction .page-content {
    padding: 10px;
}

.btn-approved-transaction {
    margin-top: 10px;
}

.bg-file-upload {
    padding: 10px;
    width: 250px;
    background: #c72b31;
    color: #FFF;
    border-radius: 5px;
    border: solid 1px #000;
    margin-bottom: 20px;
}

.bg-file-upload .form-group {
    margin-bottom: 0px;
}

.bg-file-upload .help-block {
    margin-bottom: 0px;
    margin-top: 0px;
}

a.index-block {
    color: #ffffff;
}

.field-customercreatepackgeform-amount > label {
    width: 160px;
    line-height: 30px;
    float: left;
}

.field-customercreatepackgeform-amount > #customercreatepackgeform-amount {
    width: 180px;
}

. bg-green {
    background: #00a65a;
}

/*icon for bit*/
.skin-red .sidebar-menu > li > a, .sidebar-menu .treeview-menu > li > a {
    line-height: 36px;
}

.bit {
    width: 36px;
    height: 36px;
    float: left;
    display: block;
    background: url('../images/background-icon.png') no-repeat;
}

.bit-account {
    background-position: 0px -253px;
}

.bit-wallet {
    background-position: 0px 0px;
}

.bit-balance {
    background-position: 0px -40px;
}

.bit-dashboard {
    background-position: 0px -86px;
}

.bit-member {
    background-position: 0px -125px;
}

.bit-sign-out {
    background-position: 0px -168px;
}

.bit-support {
    background-position: 0px -215px;
}

/* bread-crumbs*/
.content-header > .breadcrumb {
    float: none;
    position: static;
    top: 0px;
    border-bottom: dashed 1px #CCCCCC;
}

/*template*/
.content-wrapper, .right-side {
    background-color: #fff;
}

.box-customer {
    border-top: none;
    box-shadow: none;
    border-radius: 0px;
}

.grid-view-customize table {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

}

.grid-view-customize table thead {
    background-color: #ca7a3b;
    color: #ffffff;
    text-align: center;
}

.grid-view-customize thead th, .grid-view-customize thead th a {
    color: #ffffff;
    text-align: center;
    border: 1px solid transparent;
}

.grid-view-customize table > thead > tr > th {
    border: 1px solid transparent;
}

.grid-view-customize table > tbody > tr > td {
    border: solid 1px #f4b083;
}

/* Case cha con */
.list-members ul li a .view-more {
    display: none;
}

.list-members ul ul ul > li > a .view-more {
    display: block;
}

.i_user {
    display: inline-block;
    max-width: 40px;
}

.tree {
    overflow: auto;
}

.tree * {
    margin: 0;
    padding: 0;
}

.tree ul {
    padding-top: 20px;
    position: relative;
    display: flex;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
    padding-top: 0;
    margin: auto;
}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li a,
.tree td a.tree_user {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    display: inline-block;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree td a.tree_user {
    padding: 5px 30px;
    min-height: 85px;
    min-width: 102px;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover + ul li a {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}

/*Connector styles on hover*/
.tree li a:hover + ul li::after,
.tree li a:hover + ul li::before,
.tree li a:hover + ul::before,
.tree li a:hover + ul ul::before {
    border-color: #94a0b4;
}

/*.tree ul ul ul li > ul::before {*/
/*border-left: none !important;*/
/*}*/

.skin-red .main-header .navbar.navbar-static-top, .main-sidebar .user-panel {
    background-color: #ffcc33;
}

.header-customer-icon {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}

.header-customer-icon > i {
    font-size: 20px;
    color: #fff;
}

.header-customer-icon:hover {
    color: #eee;
}

.attachment-file {
    margin: 15px;
    display: inline-block;
    position: relative;
    min-height: 100px;
}

.attachment-file a {
    display: inline-block;
}

.attachment-file #action-delete-image {
    position: absolute;
    right: -5px;
    top: -5px;
    padding: 5px;
    background: #C40000;
    color: #FFF;
    border-radius: 50%;
    border: solid 1px #999;
    z-index: 99;
}

.attachment-file #action-delete-image:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .info-box-content {
        margin-left: 0px;
        width: 100%;
        display: block;
        padding: 10px 0;
    }

    .info-box-content .info-box-text-header {
        height: auto;
        overflow: visible;
    }

    .info-box-icon {
        width: 100%;
        display: block;
        float: none;
    }

    .main-header {
        max-height: 100% !important;
    }

    .transaction-item-box .box-left {
        width: auto;
    }

    .transaction-item-box .box-middle .line {
        float: none;
    }

    .transaction-item-box .box-middle {
        padding: 0;
    }

    .transaction-sent .bg-green-2,
    .transaction-sent .transaction-item-box,
    .transaction-sent .bg-yellow {
        max-height: 100%;
    }

    .progress-group {
        display: none;
    }

    .transaction-item-box .box-middle .transaction-create-time {
        float: none;
    }

    .transaction-item-box .box-middle .transaction-create-time .text-time-create {
        width: 100%;
        display: block;
    }

    .transaction-item-box .box-middle .transaction-user-step {
        padding-left: 0;
    }

    .transaction-item-box .transaction-title {
        margin-left: 0;
        float: none;
    }
}