@font-face {
    font-family: "Roboto Light";
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Light'), local('Roboto-Light'), url("../fonts/Roboto-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Roboto-Regular';
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/*.container {*/
/*width: 1200px;*/
/*}*/

.header-info {
    background-color: #fff;
}

.header-logo {
    border-radius: 0;
    background: #ffcc33;
    border-top: 1px #fff solid;
    border-bottom: 1px #fff solid;
}

.container-login {
    background: url(../images/bg-login.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 900px;
    padding-top: 100px;
}

.title-login {
    color: #e1474d;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form-border {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding-top: 30px;
}

#login-form .form-group div,
#register-form .form-group div {
    text-align: center;
}

#login-form .form-group .form-control {
    width: 80%;
    display: inline-block;
}

.register-button {
    margin-top: 30px;
}

.register-button .btn-register {
    background-color: #959595;
    border-radius: 99px;
    padding: 0px 20px;
    color: #fff;
}

.register-button .btn-register {
    background-color: #959595;
    border-radius: 99px;
    padding: 0px 10px;
    color: #fff;
    margin-right: 10px;
}

.banner-home {
    background-color: #f57804;
    text-align: center;
}

.home-text-static {
    background-color: #000;
    padding: 10px 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

.home-text-static:hover {
    color: #e1474d;
}

.btn-button-leftjoin {
    font-size: 12px;
    text-transform: uppercase;
    padding: 3px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    background-color: #f96901;
}

.btn-button-leftjoin:hover {
    background-color: #fff;
    color: #e1474d;
}

.home-why-choice-us {
    background-color: #fff;
    padding: 20px 0 50px 0;
    text-align: center;
    color: #666;
}

.home-why-choice-us h2 {
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #999;
}

.home-why-choice-us img {
    margin-bottom: 15px;
}

.home-clip,
.home-bieudo {
    padding: 20px 0;
    background-color: #f4f4f4;
}

.home-clip h2,
.home-bieudo h2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-transform: uppercase;
    color: #999;
}

.home-clip p,
.home-bieudo p {
    color: #999;
    margin-bottom: 30px;
}

.home-bieudo div.content {
    margin-bottom: 20px;
}

.home-post-content {
    padding: 30px 0;
    color: #666;
    font-size: 14px;
}

.home-post-content h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: #333;
}

/* ------ VIDEO ------ */
.play-video {
    position: relative;
    height: 0;
    padding-top: 70%;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.play-video:before {
    content: '';
    background: url("../images/youtube.png") no-repeat 0 0;
    width: 64px;
    height: 64px;
    position: absolute;
    z-index: 200;
    display: inline-block;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    filter: blur(50px);
    -webkit-filter: blur(50px);
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.play-video:hover:before {
    filter: blur(0);
    -webkit-filter: blur(0);
    opacity: 1;
}

.play-video > img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 100;
}

.intro-item {
    position: relative;
    padding-left: 86px;
    padding-right: 20px;
    min-height: 170px;
}

.intro-icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
}

.intro-icon:before,
.intro-icon:after {
    content: '';
    width: 5px;
    display: inline-block;
    min-height: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    left: 28px;
    opacity: 0;
}

.intro-item:hover > .intro-icon:before {
    height: 35px;
    background-color: #ffcc33;
    opacity: 1;
}

.intro-icon:after {
    top: 0;
    bottom: 0;
}

.intro-item:hover > .intro-icon:after {
    top: 105px;
    background-color: #ffcc33;
    opacity: 1;
}

.intro-icon > i.fa {
    width: 60px;
    height: 60px;
    border: 2px #ffcc33 solid;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: #ffcc33;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.intro-item:hover > .intro-icon > i.fa {
    background-color: #ffcc33;
    color: #ffffff;
    margin-top: 40px;
}

.ycs-icon {
    font-size: 60px;
}

.link-hover {
    color: #999999;
    text-decoration: none !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.link-hover:hover {
    color: #f96801;
}

.block-heading {
    color: #666666;
    font-size: 30px;
    display: block;
    text-align: center;
}

.tes-carousel {
    background-color: #f3f4f4;
    padding: 20px;
    margin-bottom: 60px;
    position: relative;
}

.tes-carousel .carousel-indicators {
    position: absolute;
    bottom: -60px;
}

.tes-carousel .carousel-indicators > li {
    border-color: #dbdcde;
    width: 8px !important;
    height: 8px !important;
    margin: 1px !important;
    position: relative;
}

.tes-carousel .carousel-indicators > li.active {
    border-color: #e1474d;
}

.tes-carousel .carousel-indicators > li.active:before {
    content: '';
    width: 4px;
    height: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #e1474d;
    position: absolute;
    top: 1px;
    left: 1px;
}

.testimonial-item .username > strong {
    display: block;
}

.testimonial-item .username {
    background: url("../images/user.jpg") no-repeat 0 0;
    padding-left: 70px;
    display: block;
    height: 60px;
    margin-top: 20px;
    padding-top: 10px;
}

.last-block {
    padding: 40px 0;
}

.footer {
    background-color: #616267;
    padding: 20px 0 70px 0;
    min-height: 230px;
    position: relative;
}

.footer.footer-admin {
    background-color: #616267;
    padding: 10px;
    position: relative;
    color: #fff;
    min-height: auto;
}

.footer .footer-heading {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
}

.copyright {
    background-color: #717277;
    position: absolute;
    bottom: 0;
    height: 48px;
    line-height: 48px;
    left: 0;
    right: 0;
    color: #f3f4f4;
}

.social-links > a {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #79797e;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.social-links > a:hover {
    background-color: #e1474d;
}

/* ------ END VIDEO ----- */

.transaction-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.transaction-list li {
    margin-bottom: 5px;
    padding: 5px 20px;
    background-color: #ffcc33;
    color: #413d33;
    text-align: left;
    border-radius: 10px;
}

.transaction-list li a {
    color: #33a3ad;
}

.transaction-list li .text-transfer {
    padding-top: 6px;
    padding-bottom: 5px;
    text-align: center;
}

.transaction-list li .text-transfer span {
    color: #4c9c42;
}

.transaction-list li .text-address {
    color: #2c5576;
    text-align: center;
    font-size: 12px;
}

.transaction-icon-person {
    border-radius: 100px;
    width: 45px;
    border: 2px #5c5c5c solid;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.transaction-id {
    padding-left: 10px;
    float: left;
    padding-top: 15px;
}

div.separator {
    position: relative;
    text-align: left;
    font-size: 14px;
    margin: 9px 0;
}

div.separator.right {
    text-align: right;
}

div.separator:after {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #484848;
}

div.separator span {
    position: relative;
    z-index: 1;
    padding-right: 1em;
    background-color: #333;
    color: #fff;
}

div.separator.right span {
    padding-left: 1em;
    padding-right: 0;
}

div.separator img {
    margin-right: 5px;
    float: left;
    z-index: 99;
}

div.separator.right img {
    margin-left: 5px;
    float: right;
}

.header-transaction {
    margin-top: 25px;
}

.header-transaction .pull-left {
    margin-right: 10px;
}

.header-transaction .text-big {
    padding-top: 5px;
    font-size: 20px;
}

.header-transaction .text-small {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.header-transaction .member {
    color: #0099cc;
}

.header-transaction .exchange {
    color: #ffb602;
}

.header-transaction .bitcoin {
    color: #cdac28;
}

.header-transaction .bitcoin-2 {
    color: #ffcc33;
}

.footer-list-info {
    color: #d6d6d6;
    margin-bottom: 10px;
}

.footer-list-info a {
    color: #d6d6d6;
}

.news-list {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px #ccc dashed;
}

.news-list a {
    color: #666;
}

.news-list img {
    max-width: 100%;
}

.title-category {
    height: 40px;
    background-color: #ffcc33;
    margin-bottom: 20px;
}

.title-category h1 {
    font-size: 20px;
    line-height: 40px;
    padding: 0 20px;
    font-weight: bold;
}

/* style menu responsive */

.header-logo .navbar.nav-pills {
    border: 0;
    border-radius: 0;
    margin: 0;
}

.header-logo .navbar.nav-pills .container-fluid {
    padding: 0;
}

.header-logo .navbar.nav-pills .container-fluid .collapse.navbar-collapse {
    margin: 0;
    padding: 0;
}

.header-logo .navbar-toggle {
    background: #fff;
}

.header-logo .navbar-toggle > span {
    background: #666;
}

.header-menu-top {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.header-menu-top > li > a {
    padding: 15px 50px;
}

.header-menu-top > li > ul {
    background-color: #ffcc33;
}

.header-menu-top > li:hover {
    background-color: #eee;
}

.header-menu-top a {
    color: #191919;
}

.header-menu-top.nav > li > a:hover, .nav > li > a:focus {
    background: none;
}

/* end style menu responsive */
