.customer-tree ul {
    list-style: none;
}

.customer-tree ul li {
    display: table;
    text-align: left;
    margin-top: 10px;
}

.customer-tree ul li a {
    color: #666;
    padding-left: 20px;
}

.customer-tree ul li i {
    padding-left: 5px;
    color: #666;
}

.customer-tree ul li ul li ul {
    display: none;
}

.customer-tree ul li.children-active {
    background: url(/images/plus.gif) no-repeat left 3px;
}
